<ES-bannerslider></ES-bannerslider>
<ES-features NumberofFeatures=6></ES-features>
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">More Stunning Features</h1>
      <p class="lead">Edify Skooling offer tons of more stunning feaures</p>
      <hr/>
      <a class="btn btn-primary btn-lg" routerLink="/features" role="button">LOAD ALL FEATURES</a>
    </div>
</div>
<ES-mechanism NumberofMechanism=3></ES-mechanism>
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">Mechanism - How it works</h1>
      <p class="lead">Have a look at Edify Skooling Mechanism. To believe how it works like magic.</p>
      <hr/>
      <a class="btn btn-primary btn-lg" routerLink="/mechanism" role="button">LOAD ALL MECHANISM</a>
    </div>
</div>
<ES-testimonials></ES-testimonials>
<ES-contact-us></ES-contact-us>