.page-footer
{
    background: url("/assets/images/footerbackground.jpg");
    background-repeat: repeat-x repeat-y;
    padding-top: 5px;
    color: #000; 
}
a
{
    color: #000; 
}
a:hover
{
    color: #555; 
    text-decoration: none;
}