<div innerHtml="{{imgshow}}"></div>
<div class="container-fluid">
  <div class="fb">
    <ul>
      <li>
        <a href="https://fb.me/EdifySchooling">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="twitter">
    <ul>
      <li>
        <a href="https://twitter.com/ESkooling">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="gp">
    <ul>
      <li>
        <a href="https://plus.google.com/104000078216599600577">
          <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="linkedin">
    <ul>
      <li>
        <a href="https://www.linkedin.com/company/edifyskooling/">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="insta">
    <ul>
      <li>
        <a href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="whatsapp">
    <ul>
      <li>
        <a href="https://api.whatsapp.com/send?phone=60183553290" target="_blank">
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="phone">
    <ul>
      <li>
        <a href="tel:+60183553290" target="_blank">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="email">
    <ul>
      <li>
        <a href="mailto:edifyskooling@gmail.com" target="_blank">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
